<div>
  <div>
    <div>
      <!--ユーザー情報-->
      <h2>User info</h2>
      <%= image_tag @user.get_profile_image(100,100) %>
      <table>
        <tbody>
          <tr></tr>
          <tr>
            <th>name</th>
            <th><%= @user.name %></th>
          </tr>
          <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
          </tr>
        </tbody>
      </table>

      <div>
        <%= link_to edit_user_path(@user) do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </div>

      <!--本の投稿機能-->
      <h2>New book</h2>
      <%= form_with model: @book do |f| %>
        <div>
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div>

        <div>
          <%= f.label :opinion %>
          <%= f.text_area :body %>
        </div>

        <div>
          <%= f.submit 'Create Book' %>
        </div>
      <% end %>
    </div>

    <!--ユーザーが投稿した本の一覧機能-->
    <div>
      <h2>Books</h2>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user_id) do %>
                  <%= image_tag book.user.get_profile_image(80,80) %>
                <% end %>
              </td>
              <td>
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>
              <td><%= book.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>